<section class="section__our">
 <div class="container__our">
  <h3 class="out__text">для справжніх поціновувачів атмосфери</h3>
  <h2 class="our__title">Найші майстри</h2>
  <div class="container__wraper">
   <ul class="list__img">
    <li><img src="./images/our/img1.jpg" alt="img1"></li>
    <li>
     <p class="list__name__barber">John Smith</p>
    </li>
    <li>
     <p>Extreme Barber</p>
    </li>
   </ul>
   <ul class="list__img">
    <li><img src="./images/our/img2.jpg" alt="img2"></li>
    <li>
     <p class="list__name__barber">Michele Doe</p>
    </li>
    <li>
     <p>Extreme Barber</p>
    </li>
   </ul>
   <ul class="list__img">
    <li><img src="./images/our/img3.jpg" alt="img3"></li>
    <li>
     <p class="list__name__barber">Alan Black</p>
    </li>
    <li>
    <li>
     <p>Extreme Barber</p>
    </li>
   </ul>
  </div>
 </div>
</section>