<section class="section__our">
 <div class="container__our">
  <h3 class="out__text">для справжніх поціновувачів атмосфери</h3>
  <h2 class="our__title">Найші майстри</h2>
  <div class="container__wraper">
   <div class="wraper__our--img">
    <img src="./images/our/img1.jpg" alt="img1">
    <h2 class="wraper__title">John Smith</h2>
    <p class="wraper__text--specification">Extreme Barber</p>
    <ul class="social__list--svg">
     <li class="social__item--svg"><svg width="25" height="25">
       <use href="./images/svg/sprite.svg#instagram"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg width="25" height="25">
       <use href="./images/svg/sprite.svg#twitter"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg width="25" height="25">
       <use href="./images/svg/sprite.svg#facebook"></use>
      </svg>
     </li>
     <li class="social__item--svg"><svg width="25" height="25">
       <use href="./images/svg/sprite.svg#linkedin"></use>
      </svg>
     </li>
    </ul>
   </div>
   <div class="container__wraper">
    <div class="wraper__our--img">
     <img src="./images/our/img2.jpg" alt="img2">
     <h2>JMichele Doe</h2>
     <p class="wraper__text--specification">Extreme Barber</p>
     <ul class="social__list--svg">
      <li class="social__item--svg"><svg width="25" height="25">
        <use href="./images/svg/sprite.svg#instagram"></use>
       </svg>
      </li>
      <li class="social__item--svg"><svg width="25" height="25">
        <use href="./images/svg/sprite.svg#twitter"></use>
       </svg>
      </li>
      <li class="social__item--svg"><svg width="25" height="25">
        <use href="./images/svg/sprite.svg#facebook"></use>
       </svg>
      </li>
      <li class="social__item--svg"><svg width="25" height="25">
        <use href="./images/svg/sprite.svg#linkedin"></use>
       </svg>
      </li>
     </ul>
    </div>
    <div class="container__wraper">
     <div class="wraper__our--img">
      <img src="./images/our/img3.jpg" alt="img3">
      <h2>Alan Black</h2>
      <p class="wraper__text--specification">Extreme Barber</p>
      <ul class="social__list--svg">
       <li class="social__item--svg"><svg width="25" height="25">
         <use href="./images/svg/sprite.svg#instagram"></use>
        </svg>
       </li>
       <li class="social__item--svg"><svg width="25" height="25">
         <use href="./images/svg/sprite.svg#twitter"></use>
        </svg>
       </li>
       <li class="social__item--svg"><svg width="25" height="25">
         <use href="./images/svg/sprite.svg#facebook"></use>
        </svg>
       </li>
       <li class="social__item--svg"><svg width="25" height="25">
         <use href="./images/svg/sprite.svg#linkedin"></use>
        </svg>
       </li>
      </ul>
     </div>
    </div>
</section>