<section class="section__our">
 <div class="container__our">
  <h3 class="out__text">для справжніх поціновувачів атмосфери</h3>
  <h2 class="our__title">Найші майстри</h2>
  <div class="container__wraper">
   <ul class="list__img">
    <li><img src="./images/our/img1.jpg" alt="img1"></li>
    <li>John Smith</li>
    <li>Extreme Barber</li>
   </ul>
   <ul class="list__img">
    <li><img src="./images/our/img2.jpg" alt="img2"></li>
    <li>Michele Doe</li>
    <li>Extreme Barber</li>
   </ul>
   <ul class="list__img">
    <li><img src="./images/our/img3.jpg" alt="img3"></li>
    <li>Alan Black</li>
    <li>Extreme Barber</li>
   </ul>
  </div>
 </div>
</section>